<div>
<%= link_to "メニュー画面へ戻る", root_path, class: "post" %>
</div>
<div>
  <%= link_to "担当家事の登録",  new_work_path, class: "post" %>
</div>
<br>
<% @works.each do |work| %>
  <% if current_house.id == work.house_id %>
    投稿者<br>
    <%= work.user_name %><br>
    担当家事<br>
    <%= work.work_name %><br>
    <br>
    <%= link_to work_path(work.id) do %>
      編集・削除<br>
    <% end %>
  <% end %>
<% end %>