<div>
  <%= link_to "家事分担へ戻る",  works_path, class: "post" %>
</div>
<div>
  <%= link_to "家事分担の編集",  edit_work_path, class: "post" %>
</div>
<div>
  <%= link_to "家事分担の削除",  work_path, method: :delete, class: "post" %>
</div>
<% if current_house.id == @work.house_id %>
    投稿者<br>
    <%= @work.user_name %><br>
    担当家事<br>
    <%= @work.work_name %><br>
<% end %>