<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3 class="fw-light">ワーク詳細</h3>
      <p class="lead text-muted">役割の編集・削除が可能です。</p>
      <p>
        <%= link_to "編集", edit_work_path, class: "btn btn-outline-success my-2" %>
        <%= link_to "削除", work_path, method: :delete, class: "btn btn-outline-danger my-2" %>
        <%= link_to "一覧に戻る", works_path, class: "btn btn-outline-warning my-2" %>
      </p>
    </div>
  </div>
</section>
<main>
  <div class="card col-sm-10 mx-auto mb-5">
    <div class="card-body text-center mx-auto">
      <% if current_house.id == @work.house_id %>
        <div class="col my-5">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4 class="card-text">
                担当者：<%= @work.user_name %><br>
                <br>
                役割：<%= @work.work_name %>
              </h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>