<div class="contents row">
  <div class="container">
    <h3>支出を編集する</h3>
    <%= form_with(model: @money, local: true) do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
      <%= form.select :user_name, @users.map{ |user| user.user_name }, include_blank: "住民を選択" %><br>
      <%= form.text_field :item_name, placeholder: "item_name" %><br>
      <%= form.text_field :price, placeholder: "price" %><br>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>