 <h3>編集する</h3>
    <%= form_with(model: @user, local: true) do |form| %>
      <%= form.file_field :image, id:"item-image" %>
      <%= form.text_field :user_name, placeholder: "User_name" %>
      <%= form.text_field :birthday, placeholder: "Birthday" %>
      <%= form.submit "SEND" %>
    <% end %>