<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3 class="fw-light">スケジュール詳細</h3>
      <p class="lead text-muted">スケジュールの編集・削除が可能です。</p>
      <p>
        <%= link_to "編集", edit_schedule_path, class: "btn btn-outline-success my-2" %>
        <%= link_to "削除", schedule_path, method: :delete, class: "btn btn-outline-danger my-2" %>
        <%= link_to "ルームに戻る", schedules_path, class: "btn btn-outline-warning my-2" %>
      </p>
    </div>
  </div>
</section>
<main>
  <div class="card col-sm-10 mx-auto mb-5">
    <div class="card-body text-center mx-auto">
      <% if current_house.id == @schedule.house_id %>
        <div class="col my-5">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4 class="card-text">
                『投稿者』<%= @schedule.user_name %><br>
                『イベント』<%= @schedule.event %><br>
                『日時』<%= @schedule.start_time %><br>
              </h4>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</main>