<div>
<%= link_to "メニュー画面へ戻る", root_path, class: "post" %>
</div>
<div>
  <%= link_to "チャットを投稿する",  new_chat_path, class: "post" %>
</div>
<br>
<% @chats.each do |chat| %>
  <% if current_house.id == chat.house_id %>
    <%= chat.user_name %><%= chat.talk %><br>
    <% if chat.image.present? %>
      <%= image_tag chat.image %><br>
    <% end %>
    <%= link_to chat_path(chat.id) do %>
      編集<br>
    <% end %>
  <% end %>
<% end %>