<h2>シェアハウス管理メニュー</h2>
<div>
<h3><%= link_to "住民登録機能", users_path, class: "post" %><h3>
</div>
<div>
<h3><%= link_to "ルール機能", rules_path, class: "post" %><h3>
</div>
<div>
<h3><%= link_to "支出管理機能", money_index_path, class: "post" %></h3>
</div>
<div>
<h3><%= link_to "家事分担機能", works_path, class: "post" %></h3>
</div>
<div>
<h3><%= link_to "TODOリスト", todos_path, class: "post" %></h3>
</div>
<div>
<h3><%= link_to "スケジュール表", class: "post" %></h3>
</div>
<div>
<h3><%= link_to "チャットルーム", class: "post" %></h3>
</div>