<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3 class="fw-light">TODO詳細</h3>
      <p class="lead text-muted">TODOの編集・削除が可能です。</p>
      <p>
        <%= link_to "編集", edit_todo_path, class: "btn btn-outline-success my-2" %>
        <%= link_to "削除", todo_path, method: :delete, class: "btn btn-outline-danger my-2" %>
        <%= link_to "リストに戻る", todos_path, class: "btn btn-outline-warning my-2" %>
      </p>
    </div>
  </div>
</section>
<main>
  <div class="card col-8 mx-auto mb-5">
    <div class="card-body text-center mx-auto">
      <% if current_house.id == @todo.house_id %>
        <div class="col my-5">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4 class="card-text">
                投稿者:<%= @todo.user_name %><br>
                <br>
                やること:<%= @todo.list %><br>
                <br>
                いつまで:<%= @todo.limit %>
              </h4>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</main>