
<div>
  <%= link_to "ルールに戻る",  rules_path, class: "post" %>
</div>
<div class="contents row">
  <div class="container">
    <h3>ルールを作成する</h3>
    <%= form_with(model: @rule, local: true) do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
      <%= form.select :user_name, @users.map{ |user| [user.user_name, user.user_name] } %><br>
      <%= form.text_field :title, placeholder: "title" %><br>
      <%= form.text_area :content, placeholder: "text", rows: "10" %><br>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>