<div>
<%= link_to "メニュー画面へ戻る", root_path, class: "post" %>
</div>
  </div>
  <%= link_to "ルールに戻る",  rules_path, class: "post" %>
</div>
<div class="contents row">
  <div class="container">
    <h3>ルールを作成する</h3>
    <%= form_with(model: @rule, local: true) do |form| %>
      <%= form.text_area :content, placeholder: "text", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>