<!DOCTYPE html>
<html>
  <head>
    <title>シェアハウス管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    .container{
      background-color: #ffeddc;
    }
    .card{
      background-color: #f5f5f5;
    }
    a{
      color: black;
    }
    a:hover{
      text-decoration: none;
    }
    </style>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="title col-8">
            <h4 class="m-3 p-2"><a href="/">シェアハウス管理アプリ</h4>
          </div>
          <div class="devise col-4">
            <% if house_signed_in? %>
              <h6 class="m-3 p-3"><%= current_house.house_name %>
                 <%= link_to "ログアウト", destroy_house_session_path, method: :delete %></h6>
            <% else %>
              <h6 class="m-3 p-3"><%= link_to "新規登録", new_house_registration_path %>
                 <%= link_to "ログイン", new_house_session_path %></h6>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
